<section>
    <h1>Weather Search</h1>
    <div class="input">
        <input type="text" placeholder="City" [(ngModel)]="city">
        <input type="text" placeholder="State" [(ngModel)]="state">
        <button (click)="getWeather()">Get Weather</button>
    </div>
    <div class="weather">
        <div *ngIf="allWeather">
            <p>
                The temperature for {{ currentWeather.dt_txt }} in {{ allWeather.city.name }}, {{ allWeather.city.country }},
                will be {{ currentWeather.main.temp }}° F with a minimum
                of {{ currentWeather.main.temp_min }}° F and a maximum of {{ currentWeather.main.temp_max }}° F.
                It feels like {{ currentWeather.main.feels_like }}° F.
                Be prepared for {{ currentWeather.weather[0].description }}.
                The humidity will be {{ currentWeather.main.humidity }}%.
            </p>
        </div>
    </div>
</section>
