section {

    width: 100%;
    height: 100vh;

    background: url('https://wallpaperplay.com/walls/full/d/0/d/69808.jpg') no-repeat center;
    background-size: cover;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .75fr .5fr 1fr;
    align-items: center;
    text-align: center;

    h1 {
        grid-row: 1 / span 1;
        font-size: 6em;
    }
    .input {
        grid-row: 2 / span 1;

        input {
            .field();
        }
        button {
            .field();
            display: block;
            margin: 0 auto;
            transition: background-color .5s;
            &:hover {
                background-color: rgba(30, 150, 30, 1);
            }
        }
    }
    .weather {
        grid-row: 3 / span 1;
        font-size: 1.75em;
        text-align: center;
        padding: 0 1em;
    }
}

.field() {
    font-family: 'Poppins';
    border: 1px solid black;
    padding: .75em;
    margin: .25em;
}